table {
	margin-top: 0.3%;
	margin-left: 1%;
	width: 98%;
	border:3px solid black;
}

th {
	background-color: lightgrey;
}

td {
		border:1px solid black;
}

.t1, .t2 , .t4, .t6{
	width: 7%;
	text-align:center;
}

.t3 , .t5 {
	width: 10%;
	text-align:center;
}

.t7 {
	text-align:center;
}

.t8 {
	border-bottom: 3px solid black;
}

.btn-primary {
	margin-left: 1%;
}

.off {
	background-color: pink;
}

.on {
	background-color: lightgreen;
}